<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kf.Core" version="1.0.5640.24699" targetFramework="net462" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net462" />
</packages>